/* Main styles */
html, body {
    margin: 0;
    background: #c8c8c8;
    font-family: Arial;
}

img {
    vertical-align: middle;
}

.red {
    background: #e73c01;
    fill: #e73c01;
    color: white;
}

.green {
    background: #2b9030;
    fill: #2b9030;
    color: white;
}

.yellow {
    background: #f39200;
    fill: #f39200;
    color: black;
}

header,
main,
#filter {
    width: 95%;
    max-width: 1280px;
    margin: 0 auto;
}



/* Clearfix */

header:after,
main:after,
#main-nav ul:after {
    display: block;
    content: '';
    clear: both;
}



/* Main navigation */

#main-nav {
    float: right;
    margin: 60px 0;
    line-height: 30px;
    padding-right: 10px;
}

#main-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#main-nav ul li {
    float: left;
}

#main-nav ul li a {
    margin: 0 10px;
    color: black;
    text-decoration: none;
}

#main-nav ul li a.active {
    border-bottom: 1px solid black;
}

#main-nav ul li:last-of-type a {
    margin-right: 0;
}



/* Header */

h1 {
    float: left;
    font-size: 30px;
    line-height: 30px;
    font-weight: normal;
    padding-left: 10px;
    margin: 60px 0;
}



/* Filter */

#filter {
    margin-bottom: 29px;
    padding-left: 10px;
}

#filter .title {
    margin-left: 21px;
}



/* Tags */

.tag {
    border-radius: 50px;
    padding: 4px 9px;
    font-size: 12px;
    margin-left: 9px;
    vertical-align: middle;
}

.tag input,
.tag label {
    vertical-align: middle;
}



/* Articles */

article {
    float: left;
    margin-bottom: 20px;
}

article h4 {
    background: white;
    margin: 0;
    padding: 30px 21px 0;
    font-size: 20px;
    font-weight: normal;
}

article .tag {
    float: right;
}

article img {
    width: 100%;
    background: #777;
}

article .description {
    background: white;
    padding: 21px 21px 30px;
    font-size: 14px;
}

article .description a.more {
    display: block;
    text-decoration: none;
    line-height: 18px;
    color: black;
    margin-top: 30px;
}

article .description a.more svg {
    vertical-align: middle;
}

@media screen and (min-width: 30em) {
    article {
        width: calc(50% - 20px);
        margin-left: 10px;
        margin-right: 10px;
    }
}

@media screen and (min-width: 48em) {
    article {
        width: calc(33.33% - 20px);
    }
}

@media screen and (min-width: 64em) {
    article {
        width: calc(25% - 20px);
    }
}